
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Cinzel:wght@400;500;600;700;800;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@700&display=swap');
/* @import url('fonts/CenturyGothic/font.css'); */


:root {
  --dark-maroon: #700000;
  --maroon: #800000;
  --yellow: #FFD700;
  --green: #198754;
  /*#008000;*/
  --dark-green: #156b41;
  /*#006600;*/
}

* {
  box-sizing: border-box;
  margin: 0;
}

html {
  font-family: 'Century Gothic', sans-serif;
}

hr {
  border: 2px solid orange;
  margin: 25px;
}

/* Navbar Styles */
nav {
  display: flex;
  justify-content: flex-end;
  font-family: 'Century Gothic';
  background-color: darkgreen;
  padding: 10px;
  margin-top: 20px;
}

.bar {
  width: 25px;
  height: 3px;
  background-color: var(--yellow);
  margin: 5px 0;
  transition: 0.4s;
}

.hamburger-menu {
  display: none;
  cursor: pointer;
}

nav li {
  display: inline-block;
  padding: 10px 20px;
  color: var(--yellow);
  text-decoration: none;
  transition: background-color 0.3s ease;
}

nav li:hover {
  background-color: var(--dark-green);
  padding: 10px 20px;
  color: white;
}

nav a {
  text-decoration: none;
  color: var(--yellow);


}

.active {
  background-color: var(--dark-green);
  padding: 10px 20px;
  color: white;
}

nav a:hover {
  color: white;
}

nav ul.sub-menu {
  display: none;
  position: absolute;
  background-color: var(--green);
  list-style-type: none;
  padding: 0;
  z-index: 1000;
  margin: 0;
}

nav li:hover ul.sub-menu {
  display: block;
}

nav ul.sub-menu li {
  display: block;
  padding: 10px 20px;
  color: var(--yellow);
  text-decoration: none;
  transition: background-color 0.3s ease;
}

nav ul.sub-menu li:hover {
  background-color: var(--dark-green);
  padding: 10px 20px;
  color: white;
}


.masthead {
  display: block;
  background-color: green
}


.header-masthead {
  padding-left: 20px;
  padding-right: 20px;
  
  padding-top: 20px;

}

.logo {
  display: flex;
  /* justify-content: space-evenly; */
}


.text-logo {
  font-family: 'Cinzel';
  display: inline-block;
  margin-top: 12px;
}

.image-logo {
  margin-right: 20px;
}

.image-logo>.logo {
  width: 100px;
}

#agency-heading {
  font-size: 12pt;
  color: var(--yellow);
}

#agency-name {
  font-size: 30px;
  display: block;
  position: relative;
  color: var(--yellow);
  line-height: 1;
  padding-top: 5px;
  border-top: 1px solid var(--yellow);
  margin: 0;
}

#agency-tagline {
  font-size: 12pt;
  color: var(--yellow);
}


.carousel {
  margin: 0 auto;
}


ul.slides {
  display: block;
  position: relative;
  height: 600px;
  margin: 0;
  padding: 0;
  overflow: hidden;
  list-style: none;
}

.slides * {
  user-select: none;
  -ms-user-select: none;
  -moz-user-select: none;
  -khtml-user-select: none;
  -webkit-user-select: none;
  -webkit-touch-callout: none;
}

ul.slides input {
  display: none;
}


.slide-container {
  display: block;

}

.slide-image {
  display: block;
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  opacity: 0;
  transition: all .7s ease-in-out;
}

.slide-image img {
  /* width: auto; */
  min-width: 100%;
  height: 100%;
}

.carousel-controls {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  z-index: 999;
  font-size: 100px;
  line-height: 600px;
  color: #fff;
}

.carousel-controls label {
  display: none;
  position: absolute;
  padding: 0 20px;
  opacity: 0;
  transition: opacity .2s;
  cursor: pointer;
}

.slide-image:hover+.carousel-controls label {
  opacity: 0.5;
}

.carousel-controls label:hover {
  opacity: 1;
}

.carousel-controls .prev-slide {
  width: 49%;
  text-align: left;
  left: 0;
}

.carousel-controls .next-slide {
  width: 49%;
  text-align: right;
  right: 0;
}

input:checked+.slide-container .slide-image {
  opacity: 1;
  transform: scale(1);
  transition: opacity 1s ease-in-out;
}

input:checked+.slide-container .carousel-controls label {
  display: block;
}

.carousel-dots {
  left: 50%;
  bottom: 10px;
  margin-top: -2rem;
  display: flex;
  width: 100%;
  justify-content: center;
  align-items: center;
}

.carousel-dot {
  width: 12px;
  height: 12px;
  border-radius: 30%;
  background-color: #153d03;
  opacity: 0.5;
  margin: 0 5px;
  cursor: pointer;
  transition: opacity 0.3s;
}

.carousel-dot.active {
  opacity: 1;
}


.carousel-dots .carousel-dot:hover,
input:checked + .slide-container .carousel-dots .carousel-dot {
  opacity: 1;
}

/* Style for each individual dot when the corresponding image is selected */
input#img-1:checked ~ .carousel-dots label#img-dot-1,
input#img-2:checked ~ .carousel-dots label#img-dot-2,
input#img-3:checked ~ .carousel-dots label#img-dot-3,
input#img-4:checked ~ .carousel-dots label#img-dot-4,
input#img-5:checked ~ .carousel-dots label#img-dot-5,
input#img-6:checked ~ .carousel-dots label#img-dot-6,
input#img-7:checked ~ .carousel-dots label#img-dot-7,
input#img-8:checked ~ .carousel-dots label#img-dot-8,
input#img-9:checked ~ .carousel-dots label#img-dot-9,
input#img-10:checked ~ .carousel-dots label#img-dot-10 {
  opacity: 1;
}




/* Styles for the Greeting section */
.greeting {
  display: flex;
  align-items: center;
  margin-top: 20px;
}

.left-image {
  max-width: 50%;
}

.greeting-content {
  flex: 1;
  text-align: center;
  padding: 0 20px; 
}

.center-image {
  max-width: 40%; /* Adjust the size of the center image */
  margin-top: 10px; /* Add margin to separate from the text content */
}

.greeting-content h1,
.greeting-content p {
  margin-top: 20px; /* Add margin to separate from the center image */
}

/* Add more styles as needed */


.footer {
  margin-top: 30px;
  background-color: darkgreen;
  width: 100%;
  position: relative;
  overflow: hidden;
  padding: 40px;
}

.footer-logo {
  display:none;
  margin-bottom: 50px;
  height: 10px;
  padding: 0px;
}

.footer-logo p {
  word-spacing: 5px;
  padding-bottom: 5px;
  margin-bottom: 0 50px;
}

.footer-logo .footer-logo-image {
  width: 50px;
}

.footer-links h4 {
  font-family: 'Trebuchet MS', sans-serif;
  color: #FFD700;
  font-size: 18px;
}

.footer-links a {
  text-decoration: none;
  color: var(--yellow);
  font-family: 'Century Gothic';
}

.footer-links li {
  list-style-type: none;
}

.footer-contact h4 {
  font-family: 'Trebuchet MS', sans-serif;
  color: #FFD700;
  font-size: 18px;
}

.footer-contact p {
  text-decoration: none;
  color: var(--yellow);
  font-family: 'Century Gothic';
}

.footer-contact li {
  list-style-type: none;
}

.copyright {
  font-family: 'Century Gothic';
  border-top: 3px solid var(--dark-green);
  text-align: center;
  padding-top: 20px;
  font-size: 18px;
  color: #FFD700;
}

.footer-logo p {
  color: #FFD700;
  margin-top: 25px;
  font-family: 'Century Gothic', serif;
}


.row {
  /* Styles for the row within the footer */
  display: flex;
  flex-wrap: wrap;
}

.col-4 {
  /* Styles for columns in the footer */
  flex: 0 0 33.33%;
}

.footer-logo {
  /* Styles for the footer logo */
  display: flex;
  flex-direction: column;
  align-items: center;
}

.footer-logo img {
  /* Styles for the footer logo image */
  width: 100px;
}

.footer-links {
  /* Styles for the footer links */
  color: var(--yellow);
}

.copyright {
  /* Styles for the copyright */
  font-family: 'Century Gothic';
  border-top: 3px solid var(--dark-green);
  text-align: center;
  padding-top: 20px;
  font-size: 18px;
  color: white;
}

/* Grid System because they don't want us to use CSS Framework */

.container {
  max-width: 1200px;
  /* Adjust the maximum width as needed */
  margin: 0 auto;
  /* Center the container horizontally */
  padding: 0 15px;
  /* Add optional padding to the container's sides */
  box-sizing: border-box;
  /* Include padding and border in the width */
}

/* For desktop: */
.row {
  display: flex;
  flex-wrap: wrap;
}

.col-1 {
  flex: 0 0 8.33%;
}

.col-2 {
  flex: 0 0 16.66%;
}

.col-3 {
  flex: 0 0 25%;
}

.col-4 {
  flex: 0 0 33.33%;
}

.col-5 {
  flex: 0 0 41.66%;
}

.col-6 {
  flex: 0 0 50%;
}

.col-7 {
  flex: 0 0 58.33%;
}

.col-8 {
  flex: 0 0 66.66%;
}

.col-9 {
  flex: 0 0 75%;
}

.col-10 {
  flex: 0 0 83.33%;
}

.col-11 {
  flex: 0 0 91.66%;
}

.col-12 {
  flex: 0 0 100%;
}

@media only screen and (max-width: 768px) {

  /* For mobile phones: */
  .row {
    flex-direction: column-reverse;
  }

  [class*="col-"] {
    width: 100%;
    flex: 0 0 100%;
  }

  nav {
    flex-direction: column;
    /* Stack menu items vertically */
    /* text-align: center; */
  }

  nav ul {
    display: none;
    padding: 10px 0;
  }

  .slide-image {
    height: 100%;
    width: 100%;

  }


  .navbar-toggled {
    display: block;
  }

  .navbar-toggled li {
    display: block;
  }


  .logo {
    display: block;
    margin: auto;
    text-align: center;
  }

  .footer-logo {
    display: block;
    margin: auto;
    text-align: center;
  }

  .image-logo>.logo {
    width: 100px;
  }

  #pst-container {
    display: none;
  }

  .hamburger-menu {
    display: block;
  }

  .footer-logo .footer-logo-image {
    width: 70px;
  }


  .marquee-container marquee {
    position: relative;
    color: var(--dark-green);
    opacity: 0;
    font-size: 70px;
    font-weight: 500;
    letter-spacing: 0px;
    top: 0px;
    bottom: auto;
  }

  .copyright {
    font-size: 16px;
  }

  .hero-content {
    display: block;
    padding: 20px;
  }

  #ssc-fb {
    display: none;
  }

  .accordion {
    max-width: 100%;
  }


  .inline-content {
    display: flex;
    flex-direction: column;
    align-items: center;
  }


  .slide-image img {
    max-width: 100%;
    height: auto;
  }

  .carousel {
    display: none;
  }

  .hero-content {
    display: flex;
    flex-direction: column;
    align-items: center;

  }

  .footer-logo p {
    display: none;
  }

  .footer-logo-image {
    width: 120px !important;
    padding: 16px;
  }




  .marquee-container marquee {
    font-size: 250px;

  }



}